.about-wrapper {
  padding: 33px 34px 24px 36px;
  background-color: #1a1b21;
}

.about-title,
.about-text {
  color: #f5f5f5;
  text-align: left;
  line-height: 150%;
}

.about-title {
  font-size: 16px;
  padding-bottom: 5px;
}

.about-text {
  font-size: 10px;
  font-weight: 400;
  padding-bottom: 27px;
}
